<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div class="px-4 py-5 px-md-5 text-center text-lg-start ">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <video width="450" height="490" autoplay>
            <source src="assets/Var-1.mp4">
            video unsupported
          </video>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card bg-dark text-dark">
            <div class="card-body py-5 px-md-5">
              <form #signup="ngForm" (ngSubmit)="register(signup)">

                <!-- 2 column grid layout with text inputs for the first and last names -->
                <div class="row">
                  <h2 class="fw-bold mb-2 text-uppercase text-center">Register</h2>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example1" class="form-control" name="firstname" #firstname="ngModel"
                        required [pattern]="namePattern" [minlength]="3" ngModel />
                      <label class="form-label" for="form3Example1">First name</label>
                      <div *ngIf="firstname.invalid  &&(firstname.touched || firstname.dirty) " class="form-text text-danger">
                        Fistname is required!
                      </div>
                      <div *ngIf="firstname.errors?.['minlength'] &&(firstname.touched || firstname.dirty)" class="form-text text-danger">
                        Fistname is too short!
                      </div>
                      <div *ngIf="firstname.errors?.['pattern'] &&(firstname.touched || firstname.dirty)" class="form-text text-danger">
                        Fistname should start with Alphabet!
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="form3Example2" class="form-control" name="lastname" #lastname="ngModel"
                        required [pattern]="namePattern" [minlength]="3" ngModel />
                      <label class="form-label" for="form3Example2">Last name</label>
                      <div *ngIf="lastname.invalid  &&(lastname.touched || lastname.dirty) " class="form-text text-danger">
                        Lastname is required!
                      </div>
                      <div *ngIf="lastname.errors?.['minlength'] &&(lastname.touched || lastname.dirty)" class="form-text text-danger">
                        Lastname is too short!
                      </div>
                      <div *ngIf="lastname.errors?.['pattern'] &&(lastname.touched || lastname.dirty)" class="form-text text-danger">
                        Lastname should start with Alphabet!
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3" name="email" #email="ngModel" class="form-control" required
                    [pattern]="emailPattern" ngModel />
                  <label class="form-label" for="form3Example3">Email address</label>
                  <div *ngIf="(email.dirty || email.touched) && email.errors?.['required'] " class="form-text text-danger">
                    Email required
                  </div>
                  <div *ngIf="(email.dirty || email.touched) && email.errors?.['pattern'] " class="form-text text-danger">
                    Please enter valid Email!
                  </div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="form3Example4" name="password" class="form-control" #password="ngModel" required [minlength]="6" [maxlength]="12"
                    [pattern]="passwordPattern" ngModel />
                  <label class="form-label" for="form3Example4">Password</label>
                  <div *ngIf="(password.dirty || password.touched) && password.errors?.['required'] " class="form-text text-danger">
                    Password required
                  </div>
                  <div *ngIf="(password.dirty || password.touched) && password.errors?.['pattern'] " class="form-text text-danger">
                    Please enter valid password!
                  </div>
                  <!--change IT-->
                  <div *ngIf="(password.dirty || password.touched) && (password.errors?.['minlength'] || password.errors?.['maxlength']) " class="form-text text-danger">
                    Password should be 6 to 12 charecters and contains both alphabets,numbers & speacial charecters!
                  </div>
                </div>
                <div class="form-outline mb-4" *ngIf="!password.invalid">
                  <input type="password" id="form3Example4" name="repassword" class="form-control" #repassword="ngModel"
                    required ngModel />
                  <label class="form-label" for="form3Example4">Confirm password</label>
                  <div *ngIf="(repassword.dirty || repassword.touched) && repassword.errors?.['required']"  class="form-text text-danger">
                    Password required!
                  </div>
                  <div *ngIf="(repassword.dirty || repassword.touched) && repassword.value !== password.value" class="form-text text-danger">
                    Passwords must match
                  </div>
                </div>


                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!signup.valid">
                  Sign up
                </button>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
